{% extends "admin/change_list.html" %} {% load i18n %}
{% block content %}
    <form style="margin-bottom: 5px; margin-left: 10px" method="post" action="{% url 'sale:exportar' %}">
        {% csrf_token %}
        <label>
            <input class="form-control" type="date" name="inicial" value="Fecha inicial" required>
        </label>
        <label>
            <input class="form-control" type="date" name="final" value="Fecha final" required>
        </label>
        <div style="margin-top: 3px" class="submit-row">
            <input class="btn btn-success" type="submit" name="_excel" value="Exportar a excel">
            <input class="btn btn-success" type="submit" name="_filter" value="Filtrar por rango">
        </div>
    </form>

    <form action="{% url 'sale:refrescar' %}" method="post">
        {% csrf_token %}
        <div style="margin-left: 3px" class="submit-row">
            <input type="submit" class="btn btn-success" name="_reset" value="Mostrar todos">
        </div>
    </form>
    {{ block.super }}

{% endblock %}
{% block object-tools-items %}
{#    {{ block.super }}#}

    <a class="btn btn-outline-success" href="{% url 'sale:actualizar' %}">Actualizar tabla </a>

{% endblock %}